@charset "utf-8";
#main .box {
	width: 100%;
	text-align: center;
	padding: 50px 0; 
}
/*
#main .alt, #main .apps {
	background-color: #FFFFFF;	
}
#main .anywhere, #main .pingan{
	background-color: #FFFFFF;
}
*/